  <style>
    .avatar {
      position: relative;
    }

    .avatar .content {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      bottom: 0;
      right: 0;
      width: 250px;
      transform-origin: top right;
      transform: translateY(calc(100% + 0.5rem)) scale(0.4);
      transition: 0.2s ease-in-out;
      z-index: 101;
      background-color: rgba(255, 255, 255, 0.113);
      backdrop-filter: blur(10px);
      border-radius: 4px;
    }

    .avatar-content.active .content {
      visibility: visible;
      opacity: 1;
      transform: translateY(calc(100% + 0.5rem)) scale(1);
    }

    .avatar-content.active .backdrop-sheet {
      pointer-events: auto;
    }

    .avatar-content .backdrop-sheet {
      pointer-events: none;
      position: fixed;
      z-index: 100;
      inset: 0;
    }

    .avatar-content .me {
      display: flex;
      padding: 0.5rem;
      gap: 0.5rem;
    }

    .avatar-content .me .image {
      flex-shrink: 0;
    }


    .avatar-content .user-details {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
    }

    .avatar-content .user-details .email {
      font-size: 0.8rem;
      font-weight: 200;
      color: rgb(169, 169, 169);
    }

    .avatar-content a.my-account {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 1rem;
      border-top: 1px solid rgba(255, 250, 250, 0.2);
      border-bottom: 1px solid rgba(255, 250, 250, 0.2);
    }

    .button-group {
      display: flex;
      padding: 0.5rem;
      gap: 0.5rem;
    }

    .button-group>* {
      flex-basis: 100%;
    }

    .button-group button {
      cursor: pointer;
      width: 100%;
      padding: 0.5rem;
      background-color: #a56cfb7f;
      background-color: #a56cfb7f;
      display: flex;
      gap: 0.5rem;
      border: none;
      justify-content: center;
      align-items: center;
      transform: scale(1.0);
      transition: 0.2s ease;
    }

    .button-group button:hover {
      background-color: #a56cfb5b;
    }

    .avatar-content .avatar>.image:active,
    .button-group button:active {
      transform: scale(0.9);
    }

    .avatar-content .avatar>.image {
      transform: scale(1.0);
    }
  </style>

  <div class="avatar-content" id="avatar-content">
    <div class="backdrop-sheet" id="avatar-backdrop"></div>
    <div class="avatar">
      <div class="image" title="<%= user._name %>" data-letter="S" id="avatar-trigger"></div>
      <div class="content">
        <div class="me">
          <div class="image" data-letter="S"></div>
          <div class="user-details">
            <div class="name"><%= user._name %></div>
            <div class="email"><%= user.email %></div>
          </div>
        </div>
        <a href="/app/my-account" class="my-account">
          <span class="material-symbols-outlined">
            settings
          </span>
          <span>
            My Account
          </span>
        </a>
        <div class="button-group">
          <div class="logout-btn">
            <button id="logout-btn"><span class="material-symbols-outlined">
                logout
              </span> <span>Logout</span> </button>
          </div>
          <div class="help-btn">
            <button id="help-btn"><span class="material-symbols-outlined">
                help
              </span>
              <span>Get Help </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    const avatarTrigger = document.querySelector("#avatar-trigger")
    const avatarContentDiv = document.querySelector("#avatar-content");
    const avatarBackdrop = document.querySelector("#avatar-backdrop");
    const logoutButton = document.querySelector("#logout-btn")
    const helpButton = document.querySelector("#help-btn");

    avatarTrigger.addEventListener("click", () => {
      avatarContentDiv.classList.add("active")
    });
    avatarBackdrop.addEventListener("click", () => {
      avatarContentDiv.classList.remove("active");
    });
    logoutButton.addEventListener("click", () => {
      avatarContentDiv.classList.remove("active");
      fetch("/api/logout", {
        redirect: "follow"
      }).then(() => window.location = "/");
    });
    helpButton.addEventListener("click", () => {
      avatarContentDiv.classList.remove("active");
      window.location = "/help"
    });
  </script>