<footer>
  <div class="footer-top container">
    <div class="logo">
      <img src="/assets/images/logo.svg" alt="LOGO" width="30" height="30">
      <h4>Dropin.</h4>
    </div>
    <div class="flex gap social-links">
      <a href="">
        <img src="/assets/images/facebook.svg" alt="" height="25" width="25">
      </a>
      <a href="">
        <img src="/assets/images/twitter.svg" alt="" height="25" width="25">
      </a>
      <a href="">
        <img src="/assets/images/linkedin.svg" alt="" height="25" width="25">
      </a>
      <a href="">
        <img src="/assets/images/instagram.svg" alt="" height="25" width="25">
      </a>
      <a href="">
        <img src="/assets/images/pinterest.svg" alt="" height="25" width="25">
      </a>
    </div>
  </div>
  <div class="footer-end">
    <div class="footer-grid container">
      <div class="grid-item">
        <div class="title">
          Company
        </div>
        <div class="content">
          <a href="">About Us</a>
          <a href="">Leadership</a>
          <a href="">Contact Us</a>
          <a href="">Trust, Safety * Security</a>
        </div>
      </div>
      <div class="grid-item">
        <div class="title">
          For Clients
        </div>
        <div class="content">
          <a href="">How to Hire</a>
          <a href="">About Marketplace</a>
          <a href="">Talent Scout</a>
        </div>
      </div>
      <div class="grid-item">
        <div class="title">
          For Talent
        </div>
        <div class="content">
          <a href="">How to Find Work</a>
          <a href="">Show skills better</a>
        </div>
      </div>
      <div class="grid-item">
        <div class="title">
          Resources
        </div>
        <div class="content">
          <a href="">Help & Support</a>
          <a href="">Success Stories</a>
          <a href="">Reviews</a>
        </div>
      </div>
    </div>
    <div class="footer-credits flex spaced container align-end">
      <div class="extra-credits">
        <h5>
          Move faster with Dopin.
        </h5>
        <p>
          Elevate your project success with Dropin, the ultimate platform for freelancers.
        </p>
      </div>
      <div class="credit">© 2024 Dorpin. All rights reserved.</div>
    </div>
  </div>
</footer>