<header class="container">
  <nav>
    <div class="logo">
      <a href="#">
        <img src="/assets/images/logo.svg" alt="LOGO" width="38" height="38">
        Dropin.
      </a>
    </div>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>
</header>