<header class="container">
  <nav>
    <div class="logo">
      <a href="#">
        <img src="/assets/images/logo.svg" alt="LOGO" width="38" height="38">
        Dropin.
      </a>
    </div>
    <div class="nav-backdrop" id="nav-drawer">
      <div class="nav-backdrop-sheet" id="nav-backdrop-sheet"></div>
      <ul class="nav-links">
        <li>
          <a href="#">
            <span class="material-symbols-outlined">
              home
            </span>
            Home
          </a>
        </li>
        <li>
          <a href="#">
            <span class="material-symbols-outlined">
              info
            </span>
            About
          </a>
        </li>
        <li class="active">
          <a href="#">
            <span class="material-symbols-outlined">
              settings
            </span>
            Services
          </a>
        </li>
        <li>
          <a href="#">
            <span class="material-symbols-outlined">
              support_agent
            </span>
            Contact
          </a>
        </li>
      </ul>
    </div>

    <div class="burger" id="nav-trigger">
      <span class="material-symbols-outlined">
        menu
      </span>
    </div>
  </nav>
</header>