<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs'  , { title : "App"}) %>

<body>
  <div class="app">
    <div class="nav-panel"></div>
    <div class="body-panel"></div>
  </div>
</body>

</html>