:root {
  --accent-clr: #7843c8;
  --accent-clr-light: #d0b1ff;
  --accent-2: #e76346;
}

::after,
::before,
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color-scheme: dark;
}
body,
html {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 1rem;
  font-family: "Robotto", sans-serif;
  margin: 0;
  background-image: url(/assets/images/hero-bg.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #0d1116;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.container {
  padding-inline: 1rem;
  max-width: 1150px;
  margin-inline: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  color: #fff;
}

.logo {
  display: block;
}
.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-links {
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.086);
  display: flex;
  backdrop-filter: blur(10px);
  justify-content: space-around;
  gap: 1rem;
  list-style: none;
  width: auto;
}
.nav-links > li span {
  display: none;
}

.nav-links li a {
  font-size: 1rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.1s ease-in;
}
.nav-links li a:hover {
  color: #b392a0;
}

.burger {
  display: none;
  position: relative;
  isolation: isolate;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 2px;
  justify-content: center;
  padding: 0.1rem;
  user-select: none;
  cursor: pointer;
  transform: scale(1);
}
.burger:active {
  transform: scale(0.9);
}
.burger span {
  display: block;
}

.hero {
  position: relative;
  margin-top: 5rem;
}
.hero h1 {
  font-size: 3rem;
}
.hero p {
  font-size: 1.3rem;
  color: #79808b;
}

.hero-form {
  margin-top: 3rem;
  display: block;
  gap: 1rem;
}
.hero-form > * {
  flex-basis: 100%;
}
.hero-form .form-element input {
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  color: #1f2328;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 4px;
}

.hero-form button {
  margin-top: 1rem;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  background-color: #7843c8;
  background-image: linear-gradient(#9661e7, #593294);
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  outline: none;
  transition: box-shadow 0.2s ease-in, color 0.2s ease-in;
  box-shadow: 0 0 0 0 transparent;
}
.hero-form button:hover {
  box-shadow: 0 0 10px 2px #7843c8ab;
  color: rgba(255, 255, 255, 0.8);
}

.hero::after,
.hero::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  background-color: transparent;
  top: 70%;
  right: -20%;
  border-radius: 100%;
  box-shadow: 0 0 100px 100px #7843c8;
  backdrop-filter: blur(10px);
  z-index: -1;
}

.hero::before {
  top: 30%;
  right: -30%;
  box-shadow: 0 0 80px 80px #264987;
}

.sub-hero {
  margin: 3rem 0;
}
.sub-hero h2 {
  font-family: "Montserrat", sans-serif;
}

.green {
  background-color: #19401c;
}

.flex {
  display: block;
}
.inline-block {
  display: inline-block;
}
.fullwidth {
  width: 100%;
}
.align-center {
  align-items: center;
}
.spaced {
  justify-content: space-between;
}
.align-end {
  align-items: flex-end;
}
.gap {
  gap: 1rem;
}
.mt1 {
  margin-top: 1rem;
}
.mt2 {
  margin-top: 2rem;
}
.mt3 {
  margin-top: 3rem;
}

.space-between {
  justify-content: space-between;
}
.mb1 {
  margin-bottom: 1rem;
}
.mb2 {
  margin-bottom: 2rem;
}
.mb3 {
  margin-bottom: 3rem;
}

.pad-1 {
  padding: 1rem;
}
.flex.column {
  flex-direction: column;
}
.grow {
  flex-grow: 1;
}
.place-end {
  align-items: flex-end;
}
.rounded {
  border-radius: 4px;
  overflow: hidden;
}

section {
  margin: 2rem 0;
}

section.for-clients {
  border-radius: 4px;
  overflow: hidden;
}

section.for-clients .client-content-container {
  background-image: radial-gradient(at top right, transparent, rgba(0, 42, 13)),
    url(/assets/images/talent.jpg);
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
}

section.for-talent {
  border-radius: 4px;
  overflow: hidden;
}

section.for-clients .client-content-container {
  padding: 1rem;
}

section.for-talent .hero-card {
  --accent: #1f57c3;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: 500px;
  background-color: var(--accent);
}

section.for-talent .hero-card img {
  object-fit: cover;
}

section.for-talent .hero-card .end {
  display: grid;
  place-content: end;
}

section.for-clients .side-title,
section.for-talent .hero-card-content .side-title {
  font-size: 1.2rem;
}

section.for-talent .hero-card-content {
  display: grid;
  padding: 1.5rem;
}

section.for-clients h2,
section.for-talent .hero-card-content h2 {
  font-size: 3rem;
  margin: 1.5rem 0;
}

section.for-clients h2 {
  margin-top: 4rem;
  max-width: 400px;
}

section.for-clients p,
section.for-talent .hero-card-content p {
  font-size: 1.2rem;
}

section.for-clients p {
  max-width: 600px;
  margin: 2rem 0;
}
section.for-clients .cols,
section.for-talent .hero-card-content .cols {
  border-top: 1px solid white;
  display: grid;
  width: 100%;
  padding-top: 1rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
section.for-clients .cols {
  --bg: #14a800;
  --clr: white;
  border: none;
}
section.for-clients .cols > div {
  background-color: var(--bg);
  border-radius: 4px;
  padding: 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  flex-direction: column;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
section.for-clients .cols > div .arrow {
  display: flex;
  justify-content: flex-end;
}
section.for-clients .cols > div:hover {
  background-color: var(--clr);
  color: var(--bg);
}

section.for-talent .hero-card-content .cols > div {
  background-color: rgba(255, 255, 255, 0.184);
  padding: 1rem;
  border-radius: 4px;
}

section.for-talent .hero-card-content .hero-btn {
  margin-top: 2rem;
  display: block;
  width: max-content;
  cursor: pointer;
  background-color: white;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 100px;
  color: black;
  font-size: 1rem;
  color: var(--accent);
  transform: scale(1);
  transition: 0.2s ease-in-out;
  font-weight: bold;
}

section.for-talent .hero-card-content .hero-btn:hover {
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.482);
}

section.for-talent .hero-card-content .hero-btn:active {
  transform: scale(0.9);
  background-color: rgba(255, 255, 255, 0.905);
}

section.support {
  background-color: rgba(209, 179, 255, 0.285);
  backdrop-filter: blur(10px);
  border-radius: 4px;
  padding: 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

section.support h2 {
  font-size: 1.8rem;
}
section.support p {
  font-size: 1.1rem;
}
section.support .hero-btn {
  display: block;
  width: max-content;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 100px;
  cursor: pointer;
  background-color: white;
  color: var(--accent-clr);
  transform: scale(1);
  transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
}
section.support .hero-btn:hover {
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.441);
}
section.support .hero-btn:active {
  transform: scale(0.9);
}

@media screen and (max-width: 500px) {
  section.support {
    flex-direction: column;
  }
  section.support > div:last-child {
    margin-left: auto;
  }
}

section.brand-details {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 430px;
  border-radius: 4px;
  overflow: hidden;
  gap: 2rem;
}

section.brand-details .image {
  border-radius: 4px;
  overflow: hidden;
}
section.brand-details .image img {
  object-fit: cover;
}

section.brand-details .content .feature {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

section.brand-details .content h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

section.brand-details .content .feature .content-heading {
  font-size: 1.2rem;
}

section.brand-details .content .feature .content-desc {
  color: rgb(161, 161, 161);
  margin-bottom: 1rem;
}

section.brand-details .button-flex .hero-btn {
  background-color: var(--accent-2);
  padding: 1rem 2rem;
  display: block;
  width: max-content;
  border-radius: 100px;
  border: none;
  font-size: 1rem;
  transform: scale(1);
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

section.brand-details .button-flex .hero-btn:last-child {
  background-color: transparent;
  color: var(--accent-2);
  border: 2px solid var(--accent-2);
}

section.brand-details .button-flex .hero-btn:active {
  transform: scale(0.9);
}

section.brand-details .button-flex .hero-btn:hover {
  box-shadow: 0 0 10px 1px var(--accent-2);
}

section.need {
  display: flex;
  gap: 2rem;
}

section.need .main-content {
  flex-basis: 70%;
  background-color: #34175d;
  padding: 1rem;
  border-radius: 4px;
}

section.need .main-content h2 {
  font-size: 2.5rem;
  max-width: 500px;
}

section.need .main-content .feature {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

section.need .main-content .feature h3 {
  font-size: 1.5rem;
  margin: 0;
  color: #ede1ff;
}

section.need .main-content .feature p {
  color: #9f88b7;
  max-width: 600px;
}

section.need .sidebar {
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  font-size: 2rem;
  flex-basis: 30%;
  display: flex;
  align-items: center;
  background-color: #261144;
  background-repeat: no-repeat;
  background-image: url(/assets/images/sprinkle.svg);
}

@media screen and (max-width: 700px) {
  section.need {
    flex-direction: column-reverse;
  }
}

section.trusted-by {
  margin: 3rem 0;
}

section.trusted-by h2 {
  text-align: right;
  color: rgb(177, 177, 177);
}

section.trusted-by .image img {
  width: 100px;
  height: 80px;
  object-fit: contain;
}

section.trusted-by .sources {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

footer {
  background-color: #311b3478;
}

footer .footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .footer-top a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  border-radius: 100px;
  transform: scale(1);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

footer .footer-top a:hover {
  background-color: #58506186;
}

footer .footer-top a:active {
  transform: scale(0.9);
}

footer .footer-top .logo {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

footer .footer-top .logo h4 {
  font-size: 1.1rem;
}

footer .footer-end {
  background-color: #120314;
}

footer .footer-credits {
  border-top: 1px solid #57455a;
}

footer .footer-credits p {
  margin: 0;
  color: rgb(120, 120, 120);
}

footer .footer-credits h5 {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
  color: rgb(148, 148, 148);
}

footer .footer-credits {
  padding-bottom: 1rem;
}

footer .footer-credits .credit {
  color: #84898a;
}

footer .footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

footer .footer-grid a {
  display: block;
}

footer .footer-grid .content {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

footer .footer-grid .grid-item {
  margin: 2rem 0;
}

footer .footer-grid .title {
  color: #d7aeff;
}

footer .footer-grid a {
  color: rgb(128, 122, 129);
  transition: color 0.2s ease-in;
}

footer .footer-grid a:hover {
  color: rgb(159, 149, 161);
}

.app {
  display: flex;
  backdrop-filter: blur(10px);
}

.nav-panel {
  display: flex;
  flex-direction: column;
  background-color: rgba(32, 18, 51, 0.787);
  height: 100vh;
  background-image: url(/assets/images/rect.svg);
  background-size: cover;
  width: 200px;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: 0.2s ease-in;
  overflow-y: auto;
}

.nav-panel .nav-item,
.nav-panel .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1.5rem 1rem 1rem;
}

.nav-panel .nav-item {
  color: #7d768a;
}

.nav-panel .nav-item.active {
  color: var(--accent-clr-light);
  position: relative;
}

.nav-panel .nav-item.active::after {
  content: "";
  top: 0;
  bottom: 0;
  width: 4px;
  position: absolute;
  background-color: var(--accent-clr-light);
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav-panel .nav-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.body-panel {
  background-color: rgba(0, 0, 0, 0.4);
  flex-basis: 100%;
  overflow-y: auto;
  height: 100vh;
}

.body-panel .body {
  padding: 1rem;
}

.body-panel .body-head {
  padding: 1rem;
  height: 62px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.body-panel .body-head .heading {
  font-size: 1.8rem;
}

.body-panel .body-head .avatar .image {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-color: var(--accent-clr);
  border-radius: 50%;
}

.body-panel .body-head .avatar .image::after {
  display: block;
  content: attr(data-letter);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: inherit;
}

.nav-panel .logo {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.block {
  display: block;
}

.mob-auth-links {
  display: none;
}

.side {
  display: flex;
  gap: 0.5rem;
}

.mob-auth-links button,
.side button {
  background-color: transparent;
  padding: 0.8rem 1rem;
  border: none;
  font-size: 1rem;
  border-radius: 100px;
  transform: scale(1);
  transition: transform 0.2s ease-in;
}

.mob-auth-links button,
.side button:last-child {
  background-color: #9756ff7a;
  backdrop-filter: blur(10px);
}

.side button:active,
.mob-auth-links button:active {
  transform: scale(0.9);
}

.mob-auth-links {
  margin-top: auto;
}

.mob-auth-links button {
  width: 100%;
}

.modal,
.auth-modal {
  position: fixed;
  z-index: 200;
  inset: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  backdrop-filter: blur(4px) opacity(0);
  transition: backdrop-filter 0.2s, visibility 0.2s;
}

.modal.open,
.auth-modal.open {
  visibility: visible;
  backdrop-filter: blur(4px) opacity(1);
}

.modal .modal-backdrop,
.auth-modal .auth-backdrop {
  inset: 0;
  position: absolute;
}

.side button {
  cursor: pointer;
}

.modal-content,
.auth-modal-content {
  opacity: 0;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 300px;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s;
}

.circular {
  border-radius: 50%;
}

.modal.open .modal-content,
.auth-modal.open .auth-modal-content {
  opacity: 1;
}

.modal-content .content,
.auth-modal-content .content {
  background-color: #0e0817;
  border: 1px solid var(--accent-clr);
  padding: 1rem;
  border-radius: 4px;
}

.form input {
  background-color: rgba(255, 255, 255, 0.08);
  border: 0;
  padding: 0.5rem;
  border-radius: 4px;
  width: 100%;
  font-size: 1rem;
  margin: 0.5rem 0;
  outline: none;
  transition: background-color 0.2s ease;
}

.form input:focus-visible {
  background-color: #292929;
}

.form h3 {
  color: var(--accent-clr-light);
  margin: 0;
  margin-bottom: 1rem;
}

.btn {
  background-color: var(--accent-clr);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  transform: scale(1);
  transition: background-color 0.2s, transform 0.2s ease;
  cursor: pointer;
  text-decoration: none;
}
.icon-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn:hover {
  background-color: #9d5bff;
}

.btn:active {
  transform: scale(0.9);
}

.btn:disabled {
  cursor: not-allowed;
  background-color: gray;
}
.btn:disabled:active {
  transform: none;
}
.btn:disabled:hover {
  background-color: gray;
}

.upper {
  text-transform: uppercase;
}

.avatar {
  position: relative;
}

.avatar .content {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  bottom: 0;
  right: 0;
  width: 250px;
  transform-origin: top right;
  transform: translateY(calc(100% + 0.5rem)) scale(0.4);
  transition: 0.2s ease-in-out;
  z-index: 101;
  background-color: rgba(31, 28, 32, 0.994);
  border: 1px solid var(--accent-clr);
  border-radius: 4px;
}

.avatar-content.active .content {
  visibility: visible;
  opacity: 1;
  transform: translateY(calc(100% + 0.5rem)) scale(1);
}

.avatar-content.active .backdrop-sheet {
  pointer-events: auto;
}

.avatar-content .backdrop-sheet {
  pointer-events: none;
  position: fixed;
  z-index: 100;
  inset: 0;
}

.avatar-content .me {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
}

.avatar-content .me .image {
  flex-shrink: 0;
}

.avatar-content .user-details {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.avatar-content .user-details .email {
  font-size: 0.8rem;
  font-weight: 200;
  color: rgb(169, 169, 169);
}

.avatar-content a.my-account {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-top: 1px solid rgba(255, 250, 250, 0.2);
  border-bottom: 1px solid rgba(255, 250, 250, 0.2);
}

.button-group {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
}

.button-group > * {
  flex-basis: 100%;
}

.button-group button {
  cursor: pointer;
  width: 100%;
  padding: 0.5rem;
  background-color: #a56cfb7f;
  background-color: #a56cfb7f;
  display: flex;
  gap: 0.5rem;
  border: none;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: 0.2s ease;
}

.button-group button:hover {
  background-color: #a56cfb5b;
}

.avatar-content .avatar > .image:active,
.button-group button:active {
  transform: scale(0.9);
}

.avatar-content .avatar > .image {
  transform: scale(1);
}

.even-grid,
.proposals,
.contracts,
.jobs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.jobs .job {
  background-color: #221832;
  padding: 1rem;
  border-radius: 4px;
}

.jobs .job .title {
  color: #cabfd9;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.jobs .job .desc {
  color: silver;
}

.jobs .job .client-image img {
  border-radius: 50%;
}

.jobs .job .job-top {
  display: flex;
  gap: 1rem;
}
.gold {
  color: gold;
}
.job-details .skillset,
.jobs .job .skillset {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}
.job-details .skillset {
  margin: 1rem 0;
}
.job-details .skillset .skill,
.jobs .job .skillset .skill {
  background-color: black;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  color: var(--accent-clr-light);
}
.job-details .skillset .skill {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgb(38, 34, 48);
}

.jobs .job .box {
  display: flex;
  flex-basis: 100%;
  gap: 1rem;
}

.jobs .job .box > *:first-child {
  flex-grow: 1;
}

.jobs .job .box > *:last-child {
  width: 50px;
  height: 50px;
  display: flex;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid gray;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.jobs .job .proposal {
  cursor: pointer;
}

.jobs .job .proposal.sent {
  border-color: transparent;
  border: 1px solid gray;
  cursor: not-allowed;
}

.jobs .job .desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.jobs .job .details {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: space-between;
}
.job-details .budget::before,
.jobs .job .details .budget::before {
  content: "$";
}

.job-details .budget,
.jobs .job .details .budget {
  color: gold;
}

.jobs .job .details .client-details {
  font-style: italic;
}

.success {
  --clr: #28a745;
  color: #28a745;
}
.jobs .job .company-name span {
  color: gold;
}

.jobs .job .company-name {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.jobs .job .time {
  color: rgb(193, 148, 206);
  padding-top: 0.5rem;
  margin-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.503);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.justify-right {
  justify-content: right;
}

.job-details .title {
  font-size: 1.5rem;
  color: #d5b8ff;
}

.job-details .desc {
  color: silver;
}

.job-details .budget {
  font-size: 1.1rem;
}

.job-details .meta {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.job-details .status {
  padding: 0.3rem 0.5rem;
  border-radius: 100px;
  background-color: white;
  color: black;
}

.job-details .status.open {
  background-color: #207d36;
  color: white;
}

.job-details .status.closed {
  background-color: black;
  color: white;
}

.job-details .status.progress {
  background-color: orange;
  color: white;
}

.job-details img {
  border-radius: 50%;
}

.job-details .client-details .company-name {
  font-size: 1.2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.job-details .client-details {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}

.job-details .client-details .detail {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.5rem;
  flex-wrap: wrap;
}

.job-details .client-details .name span {
  color: var(--accent-clr-light);
}

.job-details .client-details .name,
.job-details .client-details .email {
  color: silver;
}
.card {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid var(--accent-clr);
  border-radius: 4px;
  padding: 1rem;
}

.card-bg {
  background-image: url(/assets/images/rect.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.pill-shaped {
  border-radius: 100px;
}

.rflex {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.grid {
  margin: 1rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.orange {
  color: orange;
}

.flex-centered {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.verify {
  color: rgb(202, 255, 202);
}

.balance-page .balance {
  padding: 1rem;
  border: 1px solid var(--accent-clr);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.balance-hint {
  padding: 1rem;
  background-color: #333;
  margin: 1rem 0;
  color: rgb(171, 171, 171);
}

.withdraw-modal {
  visibility: hidden;
  backdrop-filter: blur(0px) opacity(0);
  position: fixed;
  z-index: 2000;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  isolation: isolate;
  transition: visibility 0.2s, backdrop-filter 0.2s;
}

.withdraw-modal.open {
  visibility: visible;
  backdrop-filter: blur(5px) opacity(1);
}

.withdraw-modal .backdrop {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.withdraw-modal .content {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #0e0817;
  border: 1px solid var(--accent-clr);
  padding: 1rem;
  border-radius: 4px;
  opacity: 0;
}

.withdraw-modal.open .content {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s, opacity 0.2s;
}

.silver {
  color: silver;
}

.italic {
  font-style: italic;
}

.contract {
  padding: 1rem;
  border-radius: 4px;
}

.contract .title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--accent-clr-light);
}

.contract .desc {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: silver;
}

.contract .amount::before {
  content: "$";
}

.contract .amount {
  color: gold;
}

.contract .contract-details {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
}

.contract .status.open {
  background-color: rgb(0, 109, 0);
}

.contract .status.closed {
  background-color: rgb(112, 54, 0);
}

.contract .status {
  padding: 0.5rem;
  border-radius: 4px;
}

.user-account .image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.2);
}

.user-account .atext {
  background-color: orangered;
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
  font-size: 2rem;
  justify-content: center;
  pointer-events: none;
}

.user-account .image {
  flex-shrink: 0;
}

@media screen and (max-width: 550px) {
  .user-account .image {
    width: 40px;
    height: 40px;
  }
}

.user-account .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-account .meta {
  display: flex;
}

.user-account .top {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-account .top .name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-account .top .email {
  font-size: 0.8rem;
  color: silver;
}

.user-account .top .summary {
  margin-top: 1rem;
  font-style: italic;
}

.user-account .split {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.user-account .bio {
  margin-top: 1rem;
}

.user-account .skillset {
  margin-top: 1rem;
}

.spacer {
  flex-grow: 1;
}

.user-account h3 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-account h3 span {
  display: block;
}

.iconbtn {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.user-account .skills {
  display: flex;
  gap: 0.5rem;
}

.user-account .skill {
  background-color: rgba(255, 68, 0, 0.246);
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
}

.proposal .title {
  font-size: 1.2rem;
  color: var(--accent-clr-light);
  margin-bottom: 1rem;
}

.proposal .cover-letter {
  color: silver;
}

.proposal .details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.line {
  border-top: 1px solid rgba(255, 255, 255, 0.336);
}
.pt1 {
  padding-top: 1rem;
}
.pt2 {
  padding-top: 2rem;
}
.pt3 {
  padding-top: 3rem;
}
.pb1 {
  padding-bottom: 1rem;
}
.pb2 {
  padding-bottom: 2rem;
}
.pb3 {
  padding-bottom: 3rem;
}
.proposal .details > * {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
  border-radius: 4px;
}

.proposal .status .accepted {
  color: rgb(0, 191, 0);
}

.proposal .status .declined {
  color: rgb(255, 72, 0);
}

.proposal .status .pending {
  color: rgb(0, 136, 255);
}

.proposal .cover-letter h3 {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .balance {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .rflex {
    flex-direction: column;
  }
}

@media screen and (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .even-grid,
  .proposals,
  .contracts,
  .jobs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1500px) {
  .even-grid,
  .proposals,
  .contracts,
  .jobs {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .nav-panel .text {
    display: none;
  }

  .nav-panel {
    width: 60px;
    overflow-y: auto;
  }
}

@media screen and (max-width: 700px) {
  footer .flex {
    display: flex;
  }
}

@media screen and (max-width: 550px) {
  footer .footer-top {
    gap: 1rem;
  }

  footer .flex {
    display: flex;
    flex-wrap: wrap;
  }

  footer .footer-grid {
    grid-template-columns: 1fr;
    gap: 0rem;
  }

  footer .footer-grid .grid-item {
    margin: 1rem 0;
  }

  footer .extra-credits {
    display: none;
  }

  footer .credit {
    margin-top: 1rem;
    margin-inline: auto;
  }
}

@media screen and (max-width: 400px) {
  footer .flex {
    gap: 0.5rem;
  }
}

@media screen and (min-width: 900px) {
  .hero {
    max-width: 70%;
  }
  .hero-form {
    max-width: 600px;
    display: flex;
  }
  .hero-form button {
    margin-top: 0rem;
  }
}

@media screen and (min-width: 700px) {
  .flex {
    display: flex;
  }
}
@media screen and (max-width: 800px) {
  section.brand-details {
    display: block;
    overflow: visible;
  }
  section.brand-details .image {
    height: 200px;
  }
  section.brand-details .content {
    padding: 1rem;
  }
  section.brand-details .button-flex {
    display: flex;
    gap: 1rem;
  }

  @media screen and (max-width: 500px) {
    section.brand-details .button-flex {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 500px) {
    section.brand-details .button-flex .hero-btn {
      text-align: center;
      width: 100%;
    }
  }
  section.for-talent .hero-card {
    display: block;
  }
  section.for-talent .hero-card img {
    height: 200px;
  }
}
@media screen and (max-width: 580px) {
  section.for-talent .hero-card-content .cols,
  section.for-clients .cols {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  section.trusted-by .sources {
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media screen and (max-width: 700px) {
  header .side {
    display: none;
  }
  .mob-auth-links {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  .nav-backdrop {
    position: fixed;
  }
  .nav-links {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    margin: 1rem;
    height: calc(100vh - 2rem);
    backdrop-filter: none;
    background-color: rgba(43, 0, 123, 0.593);
    backdrop-filter: blur(15px);
    padding: 1rem;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    transform: translateX(-100%);
    transition: 0.2s ease-in-out;
    z-index: 2;
  }
  .nav-backdrop.open .nav-links {
    transform: translateX(0);
  }

  .nav-links > li {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0.2rem;
    align-items: center;
    color: white;
    position: relative;
  }
  .nav-links > li a {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .nav-links > li:hover a {
    color: #dec7ff;
  }
  .nav-links > li.active {
    color: #d0b1ff;
  }
  .nav-links > li.active::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #7843c8;
    width: 4px;
    height: 100%;
    left: -1rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .nav-links > li span {
    display: block;
  }
  .nav-links > li a {
    color: inherit;
  }
  .nav-backdrop {
    isolation: isolate;
    z-index: 100;
  }
  .nav-backdrop::after {
    content: "";
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    inset: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }
  .nav-backdrop.open::after {
    opacity: 1;
  }
  .nav-backdrop-sheet {
    position: fixed;
    inset: 0;
  }
  .burger {
    display: flex;
  }
  .nav-backdrop {
    visibility: hidden;
  }
  .nav-backdrop.open {
    visibility: visible;
  }
}
